/*Page colours*/

:root {
  --primary-bacground-color: #2f303a;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --additional-background-colour: #f5f4fa;
}

.body-index {
  position: relative;
  margin: 0 auto;

  width: 1600px;
  height: 2349px;
}

.nav {
  background-color: var(--primary-white-color);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo-blue {
  color: var(--accent-color);
}
.logo-black {
  color: var(--title-text-color);
}

.logo-blue,
.logo-black {
  font-size: 26px;
  font-weight: bold;
  font-family: "raleway";
  letter-spacing: 0.03em;
  height: 31px;
}

.nav-list {
  width: 280px;
  justify-content: space-around;
  list-style: none;
  display: flex;
  align-items: center;
}

.logo-link,
.nav-link,
.cont-link {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  font-size: 14px;
  width: 77px;
  text-decoration-line: none;
}

.nav-link:hover,
.nav-link:focus,
.cont-link:hover,
.cont-link:focus {
  color: var(--accent-color);
}

/* Navigation Contacts*/

.contact-list {
  width: 350px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  color: var(--title-text-color);
  font-family: "roboto";
  float: right;
  align-items: center;
}

/* Main content */

/* Hero */

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  background-color: var(--primary-bacground-color);
  color: var(--primary-white-color);
}

.hero {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.hero-button {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: var(--accent-color);
  /* identical to box height, or 187% */

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
}
/* Section */

.section {
}

/* Features */

.features {
  list-style: none;
  display: flex;
  font-family: Roboto;
  padding: 80px 0px;
}

.features-list {
  padding: 1px 63px;
}

.features-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.features-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/* Our stack */

.stack-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.stack {
  justify-content: center;
  list-style: none;
  display: flex;
  padding-top: 15px;
}

.stack-list {
  padding: 1px 10px;
}

/* Our team */

.team-bgcolour {
  height: 650px;
  background-color: var(--additional-background-colour);
}

.team-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 100px;

  color: var(--title--ext-color);
}

.team {
  justify-content: center;
  list-style: none;
  display: flex;
  padding-top: 10px;
}

.team-list {
  padding: 0px 20px;
}

.team-styles {
  background-color: var(--primary-white-color);
  text-align: center;
  height: 380px;
  box-shadow: 1px 2px 1px lightgray;
}

/* Footer */

.footer {
  height: 200px;
  padding: 100px 120px;
  background-color: var(--primary-bacground-color);
}

.logo-white {
  font-size: 26px;
  font-weight: bold;
  font-family: "raleway";
  letter-spacing: 0.03em;
  height: 31px;
  color: #ffffff;
}

.footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
  text-decoration-line: none;

  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio page */

.stack-filter {
  margin: 0 auto;
  padding: 50px 10px;
  width: 611px;
  list-style: none;
  display: flex;
  align-items: center;
}
.filter {
  color: var(--title-text-color);

  margin: 2px 5px;

  border-radius: 4px;
}
.filter-button {
  background-color: var(--additional-background-colour);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border-radius: 4px;
  border-style: none;
  padding: 1px 20px;

  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.stack-portfolio {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 1360px;
  height: 1548px;
  margin: 0 auto;
}
.portfolio_list {
  padding: 10px 20px;
}
.portfolio-link {
  color: var(--title-text-color);
  text-decoration-line: none;
}
